@page
@model Web.Pages.Productos.DetalleModel
@{
}
<h1>Detalle vehiculo</h1>
<div class="container">
    <div class="col-md4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(Model => Model.producto.Nombre) @Html.DisplayFor(Model => Model.producto.Categoria) </h5>
                <p class="card-text"><p>
                    <div>
                        <b>@Html.DisplayNameFor(Model =>Model.producto.SubCategoria)</b>
                        @Html.DisplayFor(Model =>Model.producto.SubCategoria)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(Model =>Model.producto.Precio)</b>
                        @Html.DisplayFor(Model =>Model.producto.Precio)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(Model =>Model.producto.Stock)</b>
                        @Html.DisplayFor(Model =>Model.producto.Stock)
                    </div>
                    
                </p>
                <a type="button" class="btn btn-primary" asp-page="./Index" >Regresar</a>
                <a type="button" class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.producto.Id">Editar</a>
                <a type="button" class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@Model.producto.Id">Eliminar</a>
            </div>
        </div>
    </div>
</div>